doctype html
html 
    head 
        style
            include ./style.css
    body
        textarea#input(cols="30", rows="10")
        textarea#output(cols="30", rows="10") 
    script
        include ./script.js
