doctype html
html 
    head 
        style
            link(href="./style.css")
    body
        textarea#input(cols="30", rows="10")
        textarea#output(cols="30", rows="10") 
    script(src="./script.js")
